:root{
    margin: 0;
    padding: 0;
    width: 100%;
     height: 100%;
     box-sizing: border-box;
     
  }
  
  .option{
    display: flex;
  }
  
  
  .header {
    display: flex;
    background-color:rgba(200, 225, 255, 0.9);
    width: 100%;
    height: 100%;
    align-items: center;
   overflow: hidden;
    
  }
  
  .title {
    font-size: 200%;
    width: 90%;
    text-align: left;
    
  }
  #head{
    background-color:rgba(200, 225, 255, 0.9);
  }
  
  .body {
    padding-left: 1%;
    background-color: #fff;
  }
  .menu {
  
    border: 2px solid #000;
    image-resolution: from-image 300dpi;
    width: 20%;
    
  }
  
  .optionPhoto {
    width: 30px;
    margin-right: 15px;
  }
  
  .chosenOption {
    display: flex;
    border-top: 1px solid cyan;
    border-bottom: 1px solid cyan;
  }
  .showlist {
    border-bottom: 2px solid #000;
    
  }
