.cart {
    width: 80%;
}

.productDescribe {
    margin-top: 40px;
    margin-bottom: 55px;
    font-size: larger;
}

.productTitle {
    font-size: 120%;
}

.price {
    display: inline;
    text-align: right;
    margin-right: 50px;
}

.priceNum {
    text-align: right;
    font-weight: normal;
    min-width: 200px;
}

.calculate {
    border-top: 1px solid #000;
    text-align: right;
    font-size: 150%;
    display: flex;
    justify-content: end;
}

.note {
    text-align: right;
}

.product {
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
}

.productContent {
    width: 65%;
    padding-right: 50px;
    display: block;
}