.productList {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.Product {
    transform: scale(0.75);
    display: flex;
    align-items: center;
    
    margin-bottom: 50px;
    width: 500px;
    height: 50%;
}
.Rating {
    display: flex;

}
.productTitle {
    font-size: 120%;
    
}
.productContent {
    width: 65%;
    padding-right: 0px;
    padding-left: 20px;
    display: block;
}
.productPrice {
    margin-top: 20px;
    font-weight: bold;
    font-size: xx-large;
}
.buyContent {
    position: relative;
    left: -100px
}